@charset "UFT-8";

body {
    font: normal 20px Arial;
    background-color: rgb(138, 192, 243);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.411);
}

div {
    font-size: 13px;
}
p {
    line-height: 4px;
}

footer {
    color: white;
    text-align: center;
}